apiVersion: v1
kind: ConfigMap
metadata:
  name: custom-mig-config
data:
  config.yaml: |
    version: v1
    mig-configs:
      all-disabled:
        - devices: all
          mig-enabled: false
      
      custom-config:
        - devices: [0]
          mig-enabled: true
          mig-devices:
            "7g.94gb": 1
        - devices: [1]
          mig-enabled: true
          mig-devices:
            "3g.47gb": 2
